{% extends "mail/layout.html" %}

{% block body %}

<header class="img-logo">
    <img src='https://cdn1.iconfinder.com/data/icons/icomail-icon-set/2204/Letter-512.png' alt="Mail" width="300" />
    <h1>Welcome to Mail</h1>
</header>
<h2>Login</h2>

<main class="login-form">
    {% if message %}
    <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="email" name="email" placeholder="Email">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Login">
    </form>

    Don't have an account? <a href="{% url 'register' %}">Register here.</a>
</main>

{% endblock %}
